footer {
  padding: 40px 0;
  div {
    text-align: center;
  }

  .link-admin {
    color: lighten($bleuClair, 20%);
    text-decoration: underline;
  }

  .reseaux {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;

      li a {
        color: lighten($bleuClair, 20%);
      }

      li:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}
