#menu {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  z-index: 2;

  &.has-scrolled {
    max-height: 80px;
    transition: max-height 0.3s ease-in-out;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 1000;

    ul {
      color: #000;
      transition: all 0.3s ease-in-out;
      li a.logo img {
        width: 50px;
        transition: width 0.3s ease-in-out;
      }
    }
  }

  &:not(.has-scrolled) {
    ul {
      color: #fff;
      transition: all 0.3s ease-in-out;
      li a.logo img {
        width: 100px;
        transition: width 0.3s ease-in-out;
      }
    }
  }

  .items {
    margin: 15px 0;
    ul {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      .logos-sociaux {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        width: 180px;
      }

      li {
        list-style: none;

        a {
          color: inherit;
          text-decoration: none;
          font-size: 19px;
        }
      }
    }
  }

  @media screen and (max-width: $break-medium) {
    display: none;
  }
}
