<div>
	<div class="titre-avatar">
		<h2>Modifier un commentaire</h2>
		<p>Sélectionnez un commentaire à modifier</p>
	</div>
	<div class="commentaires">
		<div class="commentaire">
			<div class="left">
				<div class="avatar"></div>
			</div>
			<div class="right">
				<div class="name">Thomas Claireau</div>
				<div class="date-view">
					<div class="date">26 Novembre 2019, à 14h00 -</div>
					<a href="#" class="view">Voir l'article</a>
				</div>
				<form action="" method="post" class="disabled">
					<textarea name="commentaire-1" id="commentaire-1" spellcheck="false">
Le commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla
                    </textarea>
					<div class="actions">
						<input type="submit" class="btn vertFonce" value="Modifier" />
						<div class="close">
							<img src="{{ imgDir }}pictos/cross.svg" class="js-inject-me" alt="" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="commentaire">
			<div class="left">
				<div class="avatar"></div>
			</div>
			<div class="right">
				<div class="name">Thomas Claireau</div>
				<div class="date-view">
					<div class="date">26 Novembre 2019, à 14h00 -</div>
					<a href="#" class="view">Voir l'article</a>
				</div>
				<form action="" method="post" class="disabled">
					<textarea name="commentaire-2" id="commentaire-2" spellcheck="false">
Le commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla
                    </textarea>
					<div class="actions">
						<input type="submit" class="btn vertFonce" value="Modifier" />
						<div class="close">
							<img src="{{ imgDir }}pictos/cross.svg" class="js-inject-me" alt="" />
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="commentaire">
			<div class="left">
				<div class="avatar"></div>
			</div>
			<div class="right">
				<div class="name">Thomas Claireau</div>
				<div class="date-view">
					<div class="date">26 Novembre 2019, à 14h00 -</div>
					<a href="#" class="view">Voir l'article</a>
				</div>
				<form action="" method="post" class="disabled">
					<textarea name="commentaire-3" id="commentaire-3" spellcheck="false">
Le commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla
                    </textarea>
					<div class="actions">
						<input type="submit" class="btn vertFonce" value="Modifier" />
						<div class="close">
							<img src="{{ imgDir }}pictos/cross.svg" class="js-inject-me" alt="" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
