<div>
    <div class="titre-avatar">
        <h2>Vos commentaires</h2>
    </div>
    <div class="commentaires">
        <div class="commentaire">
            <div class="left">
                <div class="avatar"></div>
            </div>
            <div class="right">
                <div class="name">Thomas Claireau</div>
                <div class="date">26 Novembre 2019, à 14h00</div>
                <div class="contenu">
                    Le commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla blaLe commentaire bla bla bla
                </div>
            </div>
        </div>
        <div class="commentaire">
            <div class="left">
                <div class="avatar"></div>
            </div>
            <div class="right">
                <div class="name">Thomas Claireau</div>
                <div class="date">26 Novembre 2019, à 14h00</div>
                <div class="contenu">
                    Le commentaire bla bla bla
                </div>
            </div>
        </div>
    </div>
</div>