<section id="articles" class="liste-articles">
    <h2>Mes derniers articles</h2>
    <div class="container">
        <div class="articles" data-nb="{{ nbPosts }}">
            {% for post in listPosts %}
                {% include "blog/post-item.twig" with post %}
            {% endfor %}
        </div>
        <a href="{{url}}/index.php?access=blog" class="view-all btn bleuClair">Voir tous les articles</a>
    </div>
</section>