<section id="articles" class="liste-articles">
    <h2>Mes derniers articles</h2>
    <div class="container">
        <div class="articles">
            {% include "blog/post-item.twig" %}
            {% include "blog/post-item.twig" %}
            {% include "blog/post-item.twig" %}
        </div>
        <a href="#" class="view-all btn bleuClair">Voir tous les articles</a>
    </div>
</section>