<section id="articles" class="liste-articles">
    <h2>Mes derniers articles</h2>
    <div class="articles container">
        {% include "blog/post-item.twig" %}
        {% include "blog/post-item.twig" %}
        {% include "blog/post-item.twig" %}
    </div>
</section>