<section class="avantages container">
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/picto-test.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Développement</h4>
    </div>
    <div class="content">
      <p>Développement de sites web sous des frameworks JS, WordPress</p>
    </div>
  </div>
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/picto-test.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Développement</h4>
    </div>
    <div class="content">
      <p>Développement de sites web sous des frameworks JS, WordPress</p>
    </div>
  </div>
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/picto-test.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Développement</h4>
    </div>
    <div class="content">
      <p>Développement de sites web sous des frameworks JS, WordPress</p>
    </div>
  </div>
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/picto-test.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Développement</h4>
    </div>
    <div class="content">
      <p>Développement de sites web sous des frameworks JS, WordPress</p>
    </div>
  </div>
</section>
