<section class="avantages container">
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/avantages/dev.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Développements divers</h4>
    </div>
    <div class="content">
      <p>Développement de sites web sous des frameworks JS, WordPress</p>
    </div>
  </div>
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/avantages/design.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Web Design et UX</h4>
    </div>
    <div class="content">
      <p>Création de designs uniques, créatifs, adaptés aux différents supports</p>
    </div>
  </div>
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/avantages/access.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Ergonomie et accessibilité</h4>
    </div>
    <div class="content">
      <p>Réalisation d'interfaces conçues pour optimiser l’expérience utilisateur</p>
    </div>
  </div>
  <div class="avantage">
    <div class="picto">
      <img
        class="js-inject-me"
        src="{{ imgDir }}pictos/avantages/optimisation.svg"
        alt=""
      />
    </div>
    <div class="titre">
      <h4>Optimisation et référencement</h4>
    </div>
    <div class="content">
      <p>Optimisation du code et du contenu de votre site web</p>
    </div>
  </div>
</section>
