<section id="portfolio" class="portfolio">
    <div class="container">
        <h2>Portfolio</h2>
        {% include "./blog/filter.twig" %}
    </div>
    <div class="projets">
        <div class="projet"></div>
        <div class="projet"></div>
        <div class="projet"></div>
        <div class="projet"></div>
        <div class="projet"></div>
        <div class="projet"></div>
        <div class="projet"></div>
        <div class="projet"></div>
    </div>
</section>