<section class="presentation">
  <div class="container">
    <div class="content">
      <p>
        Actuellement développeur web full-stack dans une agence proche de
        Nantes, je suis passionné par le web et l'UX / UI.
      </p>
      <p>
        Mon code s'articule principalement autour de 3 grands pôles : JavaScript
        - PHP - Wordpress.
      </p>
      <p>
        Je suis également étudiant chez OpenClassrooms où j'ai obtenu une des
        100 bourses distribuées par l'école en 2018.
      </p>
    </div>
  </div>
</section>
