<section id="skills" class="list-skills">
    <div class="container">
        <h2>Skills</h2>
        <div class="skills">
            <div class="left">
                <div class="skill javascript"></div>
                <div class="skill typescript"></div>
                <div class="skill webpack"></div>
                <div class="skill nodejs"></div>
            </div>
            <div class="right">
                <div class="skill php"></div>
                <div class="skill wordpress"></div>
                <div class="skill sass"></div>
                <div class="skill vuejs"></div>
            </div>
        </div>
    </div>
</section>