<section id="skills" class="list-skills">
    <div class="container">
        <h2>Skills</h2>
        <div class="skills">
            <div class="left">
                <div class="skill"></div>
                <div class="skill"></div>
                <div class="skill"></div>
                <div class="skill"></div>
            </div>
            <div class="right">
                <div class="skill"></div>
                <div class="skill"></div>
                <div class="skill"></div>
                <div class="skill"></div>
            </div>
        </div>
    </div>
</section>