<a href="{{url}}/index.php?access=post" class="article">
    <div class="first">
        <div class="date-auteur">
            <div class="date">11 Aout 2019</div>
            <div class="auteur">
                <div class="avatar"></div>
                <div class="nom">Thomas Claireau</div>
            </div>
        </div>
        <h3>Titre de l'article</h3>
    </div>
    <div class="img-article"></div>
    <div class="last">
        <div class="description">
            <p>
                Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu.Vidit
            </p>
        </div>
        {% include("./blog/filter.twig") %}
    </div>
</a>