{% extends 'layout/layout.twig' %}

{% block title %}Page d'admin
{% endblock %}

{% block subtitle %}Le titre de la page admin
{% endblock %}

{% block description %}Description méta pour la page admin
{% endblock %}

{% block main %}

    <main id="home"></main>
{% endblock %}