{% extends 'layout/layout.twig' %}

{% block subtitle %}Le titre de la page admin {% endblock %} 

{% block description %}Description méta pour la page admin {% endblock %} 

{% block main %}

<main id="home">
  <section>
    <h2>Un titre h2</h2>

    <p>
      Corps de la page
    </p>
  </section>

  <section>
    <h2>Un exemple d'utilisation</h2>
    <p>{{ test }}</p>
  </section>
</main>
{% endblock %}
