{% extends 'admin/layout.twig' %}

{% block title %}Administration
{% endblock %}

{% block main %}
	{% if not type %}
		{% set path = "admin/commons.twig" %}
		{% set class = 'commons' %}
	{% else %}
		{% if isAdmin and type == 'posts' %}
			{% set path = 'admin/' ~ type ~ '.twig' %}

			{% if action == 'view' or action == 'update' or action == 'remove' or action == 'create' %}
				{% set class = type ~ ' ' ~ action %}
			{% else %}
				{% set class = type %}
			{% endif %}
		{% else %}
			{% if type == 'comments' or type == 'account' %}
				{% set path = 'admin/' ~ type ~ '.twig' %}

				{% if action == 'view' or action == 'update' or action == 'remove' or action == 'create' %}
					{% set class = type ~ ' ' ~ action %}
				{% else %}
					{% set class = type %}
				{% endif %}
			{% else %}
				{% set path = "admin/commons.twig" %}
				{% set class = 'commons' %}
			{% endif %}
		{% endif %}
	{% endif %}

	<main id="home" class="{{ class }}">
		{% include path %}
	</main>
{% endblock %}
