{% extends "layout/layout.twig" %}

{% block subtitle %}Le blog
{% endblock %}

{% block title %}Développeur full-stack & web addict
{% endblock %}

{% block description %}La liste de blog
{% endblock %}

{% block main %}

    <main id="blog"></main>

{% endblock %}