{% extends "layout/layout.twig" %}
{% set isBlog = true %}

{% block subtitle %}
    Thomas Claireau
{% endblock %}

{% block title %}
    Le blog
{% endblock %}

{% block description %}
    La liste de blog
{% endblock %}

{% block main %}

    <main id="blog">
        <div class="chapo container">
            <h1>Le blog</h1>
        </div>

        <div class="articles" data-nb="{{ nbPosts }}">
            {% for post in listPosts %}
                {% include "blog/post-item.twig" with post %}
            {% endfor %}
        </div>
    </main>
{% endblock %}