{% extends "layout/layout.twig" %}
{% set isBlog = true %}

{% block subtitle %}
    Thomas Claireau
{% endblock %}

{% block title %}
    Le blog
{% endblock %}

{% block description %}
    La liste de blog
{% endblock %}

{% block main %}

    <main id="blog">
        <div class="chapo container">
            <h1>Le blog</h1>
            {% include "./blog/filter.twig" %}
        </div>

        <div class="list-posts">
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
            {% include("blog/post-item.twig") %}
        </div>
    </main>
{% endblock %}