{% extends "layout/layout.twig" %}
{% set isContact = true %}
{% block subtitle
%}
    Contactez-moi
{% endblock %}
{% block title %}
    Contactez-moi
{% endblock %}
{% block description %}
    La page contact
{% endblock %}
{% block main %}
    <main id="contact">
        {{include("layout/formulaire.twig", {
            fields: {
                1: {
                    1: { tag: 'input', type: 'text', name: 'prenom', placeholder: 'Votre prénom', picto: 'people', required: true},
                    2: { tag: 'input', type: 'text', name: 'nom', placeholder: 'Votre nom', picto: 'people', required: true},
                },
                2: {
                    1: { tag: 'input', type: 'mail', name: 'email', placeholder: 'Votre addresse email', picto: 'mail', required: true},
                    2: { tag: 'input', type: 'tel', name: 'tel', placeholder: 'Votre numéro de téléphone', picto: 'tel', required: true},
                },
                3: {
                    1: { tag: 'textarea', name: 'message', placeholder: 'Votre message', picto: 'message', required: true},
                },
                4: {
                    1: { tag: 'input', type: 'submit', value: 'Envoyer'},
                }
            }
        })}}
    </main>
{% endblock %}