{% extends "layout/layout.twig" %}
{% set isContact = true %}

{% block subtitle %}
    Contactez-moi
{% endblock %}

{% block title %}
    Contactez-moi
{% endblock %}

{% block description %}
    La page contact
{% endblock %}

{% block main %}
    <main id="contact">
        <form id="form-contact" action="post"></form>
    </main>
{% endblock %}