{% extends 'layout/layout.twig' %}

{% block subtitle %}Thomas Claireau
{% endblock %}

{% block title %}Développeur full-stack & web addict
{% endblock %}

{% block description %}Test
{% endblock %}

{% block main %}

    <main id="home">
        {% include "home/presentation.twig" %}
        {% include "home/avantages.twig" %}
        {% include "home/skills.twig" %}
        {% include "home/portfolio.twig" %}
        {% include "home/articles.twig" %}
    </main>

{% endblock %}