<div>
    Vous êtes sur le point de
    <strong>supprimer votre compte</strong>. Confirmez en appuyant sur le bouton ci-dessous :
    <a href="/index.php?access=auth&action=remove" class="btn rougeFonce">Je supprime mon compte</a>
</div>