<div>
    <div class="titre-avatar">
        <h2>Mon compte</h2>
        <div class="avatar"></div>
    </div>
    <div class="infos">
        <ul>
            <li>
                <span>Nom :</span>
                Claireau
            </li>
            <li>
                <span>Prénom :</span>
                Thomas
            </li>
            <li>
                <span>Email :</span>
                thomas.claireau@gmail.com
            </li>
            <li>
                <span>Mot de passe :</span>
                <a href="#">Voir le mot de passe</a>
            </li>
            <li>
                <span>Rôle :
                </span>
                Abonné
            </li>
        </ul>
    </div>
    <div class="actions">
        <a href="#" class="btn vertFonce">Mettre à jour</a>
    </div>
</div>