<div>
	<div class="titre-avatar">
		<h2>Mon compte</h2>
		<div class="avatar"></div>
	</div>
	<div class="infos">
		<form action="/index.php/?access=auth&action=updateAccount" method="post" class="disabled" enctype="multipart/form-data">
			<ul>
				<li>
					<label for="nom">Nom :</label>
					<input type="text" name="nom" id="nom" value="{{ user.nom }}" placeholder="Votre nom"/>
				</li>
				<li>
					<label for="prenom">Prénom :</label>
					<input type="text" name="prenom" id="prenom" value="{{ user.prenom }}" placeholder="Votre prénom"/>
				</li>
				<li class="avatar">
					<label for="avatar_img_path">Avatar :</label>
					<input type="file" name="avatar_img_path" id="avatar" accept="image/x-png,image/gif,image/jpeg"/>
				</li>
				<li>
					<label for="mail">Email :</label>
					<input type="mail" name="mail" id="mail" value="{{ user.email }}" placeholder="Votre adresse email"/>
				</li>
				<li>
					<label for="password">Mot de passe :</label>
					<input type="password" name="password" id="password" value="password" required placeholder="Confirmez votre mot de passe pour mettre à jour"/>
					{% if isError %}
						<div class="error">Votre mot de passe est incorrect</div>
					{% endif %}
					<a class="password-change" href="/index.php?access=log&type=mot-de-passe-oublie">
						Changement de mot de passe ?
					</a>
				</li>
			</ul>
			<div class="actions">
				<input type="submit" class="btn vertFonce" value="Mettre à jour"/>
				<a href="#" class="btn vertFonce triggerForm">Mettre à jour</a>
			</div>
		</form>
	</div>
</div>
