.filter {
  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: auto;

    li {
      display: block;
      background-color: $grisClair;
      color: darken($grisClair, 30%);
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      @mixin filterStyle($type) {
        color: darken($type, 10%);
        background-color: lighten($type, 30%);
        transform: scale(1);
        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.05);
          transition: all 0.3s ease-in-out;
        }
      }

      &.css {
        @include filterStyle($css);
      }
      &.javascript {
        @include filterStyle($javascript);
      }
      &.php {
        @include filterStyle($php);
      }
      &.html {
        @include filterStyle($html);
      }
      &.typescript {
        @include filterStyle($typescript);
      }
    }
  }
}
