<div class="titre-avatar">
	<h2>Créer un article</h2>
</div>

<textarea name="" id="editor"></textarea>

<div class="actions">
	<a class="btn rougeFonce" href="/index.php?access=admin&type=posts&action=view">Retour</a>
	<a class="btn vertFonce" href="#">Créer</a>
</div>
