<div class="liste-articles">
    <div class="titre-avatar">
        <h2>Supprimer un article</h2>
    </div>
    <div class="articles">
        {% for post in posts %}
            {% include "admin/posts/post-item.twig" with { 'id': post.id,'title': post.title, 'date': post.date ,'description': post.description, 'main_img': post.main_img_path, 'remove': true } %}
        {% endfor %}
    </div>
</div>