<div class="liste-articles">
    <div class="titre-avatar">
        <h2>Vos articles</h2>
    </div>
    <div class="articles">
        {% include "admin/posts/post-item.twig" %}
        {% include "admin/posts/post-item.twig" %}
        {% include "admin/posts/post-item.twig" %}
        {% include "admin/posts/post-item.twig" %}
        {% include "admin/posts/post-item.twig" %}
        {% include "admin/posts/post-item.twig" %}
    </div>
</div>