<footer>
    <div class="credits">
        <p>© 2019 Tous droits réservés - Thomas Claireau</p>
    </div>
    <div class="reseaux">
        <ul>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">GitHub</a></li>
            <li><a href="#" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</footer>