<header>
    <div class="container">
        <div class="left">
            <h1>
                <span>{{ subtitle }}</span>
                {{ title }}
            </h1>
            <div class="buttons">
                <a href="#" class="btn bleuClair">
                    En savoir plus
                </a>
                <a href="#" class="btn rougeFonce">
                    Me contacter
                </a>
            </div>
        </div>
        <div class="right">
            <img src="https://via.placeholder.com/300x200" alt="">
        </div>
    </div>
    <a href="#" class="mouse">
        <div class="scroll"></div>
    </a>
</header>