<nav id="menu" {% if (template == "blog") or (template == "post") %} class="blog" {% endif %}>
    <div class="container">
        <div class="items">
            <ul>
                <li>
                    <a href="#" class="logo">
                        <img src="https://via.placeholder.com/100" alt="logo-thomas-claireau"/>
                    </a>
                </li>
                <li>
                    <a href="#skills" class="js-smooth-scroll">Skills</a>
                </li>
                <li>
                    <a href="#portfolio" class="js-smooth-scroll">Portfolio</a>
                </li>
                {% if template == 'blog' %}
                    <li class="active">
                        <a href="/" class="js-smooth-scroll">Blog</a>
                    </li>
                {% else %}
                    <li>
                        <a href="#articles" class="js-smooth-scroll">Blog</a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">Contact</a>
                </li>
                <div class="logos-sociaux">
                    <li>
                        <a href="#">
                            <img src="https://via.placeholder.com/30" alt="logo-thomas-claireau"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://via.placeholder.com/30" alt="logo-thomas-claireau"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="https://via.placeholder.com/30" alt="logo-thomas-claireau"/>
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </div>
</nav>