<div class="col-left">
    <div class="container-arrow">
        <img class="js-inject-me" src="{{imgDir}}pictos/arrow.svg" alt="">
    </div>
    <a href="#" class="btn blancVert">
        Téléchargez mon CV
        <img class="js-inject-me" src="{{imgDir}}pictos/pdf.svg" alt="">
    </a>
</div>